<ion-view view-title="浏览">
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="getLists()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="booklist in booklists">
                <h2>{{booklist.title}}</h2>
                <p>
                    <img ng-src="{{booklist.image}}" alt="{{booklist.summary}}"/><br/>
                    出版社: {{booklist.publisher}} <br/>
                    作者: {{booklist.author}} <br/>
                    ISBN:{{booklist.isbn}}<br/>
                    简介: {{booklist.summary}} <br/>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
