<ion-view view-title="书单">
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="getLists()">
        </ion-refresher>
        <ion-list show-delete="false" can-swipe="true">
            <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
                <h2>{{playlist.id}} {{playlist.title}}</h2>
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="delete(playlist.id)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
