<ion-view>
    <ion-nav-title class="item-icon-right">
        录入
        <i class="icon icon-right ion-qr-scanner" ng-click="scan()"></i>
    </ion-nav-title>
    <ion-content ng-hide="!detail.title">
        <h2>{{detail.title}}</h2>
        <p>
            <img src="{{detail.image}}" alt="{{detail.summary}}"/><br/>
            出版社: {{detail.publisher}} <br/>
            作者: {{detail.author}} <br/>
            ISBN:{{info}}<br/>
            简介: {{detail.summary}} <br/>
        </p>
    </ion-content>
</ion-view>
